.userInfo {
  &__content {
    display: flex;
    flex-direction: column;
  }

  &__email {
    font-size: 18px;
    font-weight: bold;
  }

  &__name {
    margin-bottom: 12px;

    font-size: 24px;
  }
}
