.commentList {
  display: flex;
  flex-direction: column;
  gap: 0.7em;

  padding: 1em;

  border-radius: 10px;
  background-color: #cce2ff;

  &__title {
    margin-bottom: 8px;
    padding: 12px;

    font-size: 28px;
  }
}
